<!DOCTYPE html>
<html>
<head>
    <title>
        Flask #2
    </title>
</head>
<body>
    <form method="POST" action="/calculate">
        <h1> 상품명, 가격</br></h1>
        <input type="text" name="t1" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n1" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t2" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n2" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t3" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n3" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t4" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n4" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t5" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n5" style="width:200px;height:40px;font-size:30px;"><br>

        <input type="text" name="t6" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n6" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t7" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n7" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t8" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n8" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t9" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n9" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t10" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n10" style="width:200px;height:40px;font-size:30px;"><br>

        <input type="text" name="t11" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n11" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t12" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n12" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t13" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n13" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t14" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n14" style="width:200px;height:40px;font-size:30px;"><br>
        <input type="text" name="t15" style="width:200px;height:40px;font-size:30px;">
        <input type="number" name="n15" style="width:200px;height:40px;font-size:30px;"><br>

        <br>
        <button type="submit" style="width:200px;height:40px;font-size:30px;">계산하기</button>
    </form>
    <div>
        <p>
            <h1>{{num}}</h1>
        </p>
    </div>
</body>
</html>